.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.OrderForm{
  border: 1px black;
  /* background-color: red; */
  margin: 20px;
  border-style: groove;
padding: 5px; 
}
.Cart{
  border: 1px black;
  /* margin: 20px; */
  border-style: groove;
padding: 15px; 
}
.Item {
  padding: 10px;
}
.cartButton{
  background: #eed8d8;
  border: 5px black;
      height: 22px;
    width: 46px;
    line-height: 1px;
    font-size: 12px;
    margin-left: 6px;
}